.card {
	display: block;
	padding: $base-padding * 2;
	border-radius: $base-border-radius;
	box-shadow: $base-box-shadow;

	.card-title {
		font-size: $font-size-md;
		padding-bottom: $base-padding;
		font-weight: bold;
	}

	.card-body {
		font-size: $base-font-size;
		text-align: justify;

		a {
			text-decoration: underline;
		}
	}
}
