%flex-layout {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar {
	@extend %flex-layout;
	width: 100%;
	height: 4rem;
	margin-bottom: $base-margin * 2;

	.container {
		@extend %flex-layout;
	}

	// .logo {
	// }
}

@each $key, $val in $colors {
	.navbar-#{$key} {
		@extend .navbar;
		background-color: $val;
	}
}
